* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
#header {
  background: url(images/background.jpeg) no-repeat center center;
  background-position: center;
  background-size: cover;
  height: 150vh;
}

.navbar-brand img {
  width: 6rem;
  height: 6rem;
}
.navbar-brand {
  font-size: 2rem !important;
  color: #1a4e8d !important;
}
.nav-link {
  display: flex;
  font-size: 1.6rem;
  font-weight: 200;
  color: #1a4e8d !important;
  margin-right: 1.5rem;
  justify-content: center;
  border-radius: 10rem;
  padding: 0.5rem 5rem !important;
  transition: all 0.3s;
  width: 7rem;
  text-align: center;
}

.login-btn span i {
  margin-right: 8px;
}
.nav-link-btn:hover {
  background-color: #1a4e8d;
  color: white !important;
}
.login-btn-text {
  white-space: nowrap;
}
.login-btn-text:hover {
  opacity: 0.5;
}
.header-text {
  padding: 2rem 5rem;
}
.header-text h1 {
  font-size: 9rem;
  line-height: 9rem;
  word-spacing: 1.5rem;
  font-weight: 600;
  color: #1a4e8d;
  margin-top: 10rem;
  margin-bottom: 2rem;
}
.header-text p {
  font-size: 3rem;
  color: #1a4e8d;
}
.navbar-nav li a {
  float: right;
}
.nav-toggler--active {
  background-color: rgb(255, 255, 255);
}

/* about */

#service {
  padding: 3rem 15% 8rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.service-title {
  font-size: 6rem;
  font-weight: 600;
  color: #1a4e8d;
  margin-bottom: 4rem;
}
.service {
  padding: 0px 1rem !important;
  margin-top: 2rem;
}
.services {
  display: flex;
  justify-content: center;
  color: #102b4b;
}
.services i {
  margin: 0 10px 0 0;
  font-size: 2.6rem;
}
.services p {
  font-size: 1.8rem;
}
.service-btn {
  outline: 0;
  border: 0;
  background: #1558ab;
  color: white;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  margin: 3rem 0;
  transition: all 0.3s;
}
.service-btn:hover {
  background: #102b4b;
}
.col-md-3 {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.service-img {
  border-radius: 1rem;
  transition: all 0.7s ease;
}
.service-img:hover {
  transform: scale(1.2);
}

/* ......about........ */

#about {
  padding: 2rem 6% 10rem;
  justify-content: center;
  align-items: center;
  background: #82c7d6;
}
#about h1 {
  margin: 7rem 0;
  font-size: 7rem;
  text-align: center;
  color: #1a4e8d;
  font-weight: 600;
  word-spacing: 1.6rem;
}
.about-box {
  padding: 3rem 3rem 1rem;
  background: white;
  border-radius: 1.2rem;
  width: 32rem;
  transition: all 0.5s ease;
}
.about-box img {
  width: 8rem;
  height: 8rem;
  margin-bottom: 4rem;
}
.abt-para-box {
  padding: 1rem 2rem;
}
.about-para {
  font-size: 1.9rem;
  font-weight: 100;
  color: #0c3c68;
  margin-bottom: 7rem;
}
.abt-row .col-md-4:nth-child(2) {
  margin-top: 10rem;
}
.about-owner {
  font-size: 1.8rem;
  font-weight: 600;
  color: #102b4b;
}
@media (hover: hover) {
  .about-box:hover {
    transform: translateY(-3.6rem);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.527),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

/* .....................slider section.............. */

#slider {
  background: #0c3c68;
  padding: 10rem 2rem 7rem;
}
#slider h1 {
  text-align: center;
  font-size: 6rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 5rem;
}
.slider-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}
.btn-slide-section {
  background: #fff;
  color: #102b4b;
  outline: 0;
  border: 0;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  border-radius: 7rem;
  transition: all 0.8s ease;
}
.btn-slide-section:hover {
  background: #87bcfc;
}
/* ..................slider.......... */
#slide-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(20% * 5);
}

.slide {
  min-width: 20%;
  box-sizing: border-box;
  padding: 20px;
}

#slides img {
  width: 100%;
  border-radius: 10px;
}

/* Navigation Buttons */
.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.slider__btn--left {
  left: 10px;
}

.slider__btn--right {
  right: 10px;
}

/* .....................contact..................... */

#contact {
  background-color: #fff;
  padding: 3rem 5%;
}
#contact .row {
  border-bottom: 1px solid #102b4b;
}
.contact-info {
  color: #102b4b;
  margin-bottom: 0 !important;
  max-height: 18rem !important;
}
.contact-info h4 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.contact-info p {
  font-size: 1.5rem;
  font-weight: 400;
}
.contact-info a {
  text-decoration: none;
  color: #102b4b;
}
.copy-right {
  font-size: 1rem;
  color: black;
  text-align: center;
  margin-top: 2rem;
}
/* .....................modal.............. */
.window {
  max-width: 60rem;
  padding: 5rem 10rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgb(245, 247, 255);
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}
.window-header {
  font-size: 3rem;
  color: #102b4b;
  text-align: center;
  font-weight: 600;
  margin-bottom: 3.4rem;
}
.window-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}
.window-form label {
  font-size: 1.7rem;
  font-weight: 500;
}
.window-form input {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: 0.5px solid rgb(220, 227, 255);
  border-radius: 5px;
}
.btn-close-modal {
  position: absolute;
  top: 0.6rem;
  right: 2rem;
  border: none;
  background: none;
  font-size: 3rem;
}
.window-form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
  background: #0c3c68;
  color: white;
  border: none;
  outline: none;
  border-radius: 10rem;
  padding: 0.6rem 2rem;
  font-size: 1.6rem;
  transition: all 0.3s;
}
.window-form button:hover {
  background-color: #1558ab;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}
.hidden {
  display: none;
}
/* ...................................media query................................ */

@media only screen and (max-width: 576px) {
  #header {
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }
  .header-text {
    padding: 2rem 1rem;
  }
  .header-text h1 {
    font-size: 5rem;
    line-height: 7rem;
    word-spacing: 1.5rem;
  }
  .header-text p {
    font-size: 2rem;
  }
  /* Service */

  .service-title {
    font-size: 3rem;
  }
  .service {
    padding: 0 !important;
  }
  .services {
    display: block;
    justify-content: center;
    color: #3d7dca;
    margin-top: 2rem;
  }
  .services p {
    margin-top: 1.4rem;
  }
  /* ...................about................ */
  #about h1 {
    font-size: 3rem;
    word-spacing: 1rem;
  }
  .abt-row .col-md-4:nth-child(2) {
    margin-top: 0;
  }

  /* .........................slider...................... */
  #slide-container {
    position: relative;
    max-width: 100%;
  }
  #slides {
    max-width: 100rem;
    height: 50rem;
    margin: 0 auto;
    position: relative;
    overflow-x: scroll;
  }

  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 1s;
  }

  /* Navigation Buttons */
  .slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }

  .slider__btn--left {
    left: 10px;
  }

  .slider__btn--right {
    right: 10px;
  }
  #slider h1 {
    font-size: 3.6rem;
  }
  .slider-box {
    margin-bottom: 0;
  }
}
