* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
#header {
  background: url(images/background.jpeg) no-repeat center center;
  background-position: center;
  background-size: cover;
  height: 150vh;
}

.navbar-brand img {
  width: 6rem;
  height: 6rem;
}
.navbar-brand {
  font-size: 2rem !important;
  color: #1a4e8d !important;
}
.nav-link {
  display: flex;
  font-size: 1.6rem;
  font-weight: 200;
  color: #1a4e8d !important;
  margin-right: 1.5rem;
  justify-content: center;
  border-radius: 10rem;
  padding: 0.5rem 5rem !important;
  transition: all 0.3s;
  width: 7rem;
  text-align: center;
}

.login-btn span i {
  margin-right: 8px;
}
.nav-link-btn:hover {
  background-color: #1a4e8d;
  color: white !important;
}
.login-btn-text {
  white-space: nowrap;
}
.login-btn-text:hover {
  opacity: 0.5;
}
.header-text {
  padding: 2rem 5rem;
}
.header-text h1 {
  font-size: 9rem;
  line-height: 9rem;
  word-spacing: 1.5rem;
  font-weight: 600;
  color: #1a4e8d;
  margin-top: 10rem;
  margin-bottom: 2rem;
}
.header-text p {
  font-size: 3rem;
  color: #1a4e8d;
}
.navbar-nav li a {
  float: right;
}
.nav-toggler--active {
  background-color: rgb(255, 255, 255);
}

/* about */

#service {
  padding: 3rem 15% 8rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.service-title {
  font-size: 6rem;
  font-weight: 600;
  color: #1a4e8d;
  margin-bottom: 4rem;
}
.service {
  padding: 0px 1rem !important;
  margin-top: 2rem;
}
.services {
  display: flex;
  justify-content: center;
  color: #102b4b;
}
.services i {
  margin: 0 10px 0 0;
  font-size: 2.6rem;
}
.services p {
  font-size: 1.8rem;
}
.service-btn {
  outline: 0;
  border: 0;
  background: #1558ab;
  color: white;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  margin: 3rem 0;
  transition: all 0.3s;
}
.service-btn:hover {
  background: #102b4b;
}
.col-md-3 {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.service-img {
  border-radius: 1rem;
  transition: all 0.7s ease;
}
.service-img:hover {
  transform: scale(1.2);
}

/* ......about........ */

#about {
  padding: 2rem 6% 10rem;
  justify-content: center;
  align-items: center;
  background: #82c7d6;
}
#about h1 {
  margin: 7rem 0;
  font-size: 7rem;
  text-align: center;
  color: #1a4e8d;
  font-weight: 600;
  word-spacing: 1.6rem;
}
.about-box {
  padding: 3rem 3rem 1rem;
  background: white;
  border-radius: 1.2rem;
  width: 32rem;
  transition: all 0.5s ease;
}
.about-box img {
  width: 8rem;
  height: 8rem;
  margin-bottom: 4rem;
}
.abt-para-box {
  padding: 1rem 2rem;
}
.about-para {
  font-size: 1.9rem;
  font-weight: 100;
  color: #0c3c68;
  margin-bottom: 7rem;
}
.abt-row .col-md-4:nth-child(2) {
  margin-top: 10rem;
}
.about-owner {
  font-size: 1.8rem;
  font-weight: 600;
  color: #102b4b;
}
@media (hover: hover) {
  .about-box:hover {
    transform: translateY(-3.6rem);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.527),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

/* .....................slider section.............. */

#slider {
  background: #0c3c68;
  padding: 10rem 2rem 7rem;
}
#slider h1 {
  text-align: center;
  font-size: 6rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 5rem;
}
.slider-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}
.btn-slide-section {
  background: #fff;
  color: #102b4b;
  outline: 0;
  border: 0;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  border-radius: 7rem;
  transition: all 0.8s ease;
}
.btn-slide-section:hover {
  background: #87bcfc;
}
/* ...................................media query................................ */

@media only screen and (max-width: 576px) {
  #header {
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }
  .header-text {
    padding: 2rem 1rem;
  }
  .header-text h1 {
    font-size: 5rem;
    line-height: 7rem;
    word-spacing: 1.5rem;
  }
  .header-text p {
    font-size: 2rem;
  }
  /* Service */

  .service-title {
    font-size: 3rem;
  }
  .service {
    padding: 0 !important;
  }
  .services {
    display: block;
    justify-content: center;
    color: #3d7dca;
    margin-top: 2rem;
  }
  .services p {
    margin-top: 1.4rem;
  }
  /* ...................about................ */
  #about h1 {
    font-size: 3rem;
    word-spacing: 1rem;
  }
  .abt-row .col-md-4:nth-child(2) {
    margin-top: 0;
  }
}
